hidden = ["package-lock.json", "package.json", "Nayan"]
language = "bash"
run = "npm start"

[[ports]]
localPort = 33625
externalPort = 3000

[[ports]]
localPort = 34183
externalPort = 3002

[[ports]]
localPort = 35211
externalPort = 3003

[[ports]]
localPort = 35297
externalPort = 3001

[[ports]]
localPort = 35333
externalPort = 5000

[[ports]]
localPort = 36291
externalPort = 5173

[[ports]]
localPort = 37307
externalPort = 6800

[[ports]]
localPort = 37807
externalPort = 6000

[[ports]]
localPort = 37959
externalPort = 8008

[[ports]]
localPort = 38743
externalPort = 4200

[[ports]]
localPort = 40649
externalPort = 80

[[ports]]
localPort = 42815
externalPort = 8080

[[ports]]
localPort = 46799
externalPort = 8000
